<form action="/stations/${_station.id}/addreading" method="POST">
    <div class="columns">
        <div class="field column">
            <label class="label">Code</label>
            <div class="control">
                <input class="input" placeholder="100" type="text" name="code">
            </div>
        </div>
        <div class="field column">
            <label class="label">Temp</label>
            <div class="control">
                <input class="input" placeholder="5.5" type="float" name="temp">
            </div>
        </div>
        <div class="field column">
            <label class="label">Wind Speed</label>
            <div class="control">
                <input class="input" placeholder="4" type="number" name="windSpeed">
            </div>
        </div>
        <div class="field column">
            <label class="label">Wind Direction</label>
            <div class="control">
                <input class="input" placeholder="200" type="number" name="windDirection">
            </div>
        </div>
        <div class="field column">
            <label class="label">Pressure</label>
            <div class="control">
                <input class="input" placeholder="1000" type="number" name="pressure">
            </div>
                </div>
            </div>
            <div class="field mt-4">
                <div class="control">
                    <button class="button is-info">Add reading</button>
                </div>
            </div>
</form>
