<div class="columns is-flex">
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                ${_station.name}
            </div>
            <div class="columns is-mobile">
                <div class="column is-two-thirds">
                    <p>Lat: ${_station.lat}</p>
                    <p>Lng: ${_station.lng}</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                </div>
                <div class="column is-one-third">
                    <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    #{list items:_station.latestReadings(), as:'reading'}
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Weather
            </div>
            <div class="columns is-mobile">
                <div class="column is-two-thirds">
                    <p>${reading.getWeatherCondition()}</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                </div>
                <div class="column is-one-third">
                    #{if reading.getWeatherCondition() == 'Clear'}
                    <i class="fas fa-sun fa-3x"></i>
                    #{/if}
                    #{elseif reading.getWeatherCondition() == 'Partial clouds'}
                    <i class="fas fa-cloud-sun fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.getWeatherCondition() == 'Cloudy'}
                    <i class="fas fa-cloud fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.getWeatherCondition() == 'Light showers'}
                    <i class="fas fa-cloud-sun-rain fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.getWeatherCondition() == 'Heavy showers'}
                    <i class="fas fa-cloud-rain fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.getWeatherCondition() == 'Rain'}
                    <i class="fas fa-droplet fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.getWeatherCondition() == 'Snow'}
                    <i class="fas fa-snowflake fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.getWeatherCondition() == 'Thunder'}
                    <i class="fas fa-cloud-bolt fa-3x"></i>
                    #{/elseif}
                    #{else}
                    <i></i>
                    #{/else}
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Temp
            </div>
            <div class="columns is-mobile">
                <div class="column is-two-thirds">
                    <p> ${reading.temperature} C</p>
                    <p> ${reading.getFahrenheitTemp()} F</p>
                    <p> Max: ${_station.maxTemperature}</p>
                    <p> Min: ${_station.minTemperature}</p>
                    <p class="is-invisible">U+0020</p>
                </div>
                <div class="column is-one-third">
                    #{if reading.temperature <= 0.0 }
                    <i class="fas fa-snowman fa-3x"></i>
                    #{/if}
                    #{elseif reading.temperature < 20.0 && reading.temperature > 0.0}
                    <i class="fa-solid fa-temperature-low fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.temperature < 40.0 && reading.temperature >= 20.0}
                    <i class="fa-solid fa-temperature-high fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.temperature >= 40.0}
                    <i class="fa-solid fa-fire fa-3x"></i>
                    #{/elseif}
                    #{else}
                    <i></i>
                    #{/else}
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Wind
            </div>
            <div class="columns is-mobile">
                <div class="column is-two-thirds">
                    <p>${reading.getBeaufort()} bft</p>
                    <p>${reading.getCompassDirection()}</p>
                    <p>Feels: ${reading.getWindChill()} C</p>
                    <p> Max: ${_station.maxWindSpeed}</p>
                    <p> Min: ${_station.minWindSpeed}</p>
                </div>
                <div class="column is-one-third">
                    #{if reading.getBeaufort() > 0 && reading.getBeaufort() < 4}
                    <i class="fas fa-smog fa-3x"></i>
                    #{/if}
                    #{elseif reading.getBeaufort() >= 4 && reading.getBeaufort() <= 6}
                    <i class="fa-solid fa-wind fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.getBeaufort() > 6 && reading.getBeaufort() <= 9}
                    <i class="fa-solid fa-exclamation fa-3x"></i>
                    #{/elseif}
                    #{elseif reading.getBeaufort() == 10 || reading.getBeaufort() == 11}
                    <i class="fa-solid fa-triangle-exclamation fa-3x"></i>
                    #{/elseif}
                    #{else}
                    <i></i>
                    #{/else}
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="card notification is-success">
            <div class="title is-3">
                Pressure
            </div>
            <div class="columns is-mobile">
                <div class="column is-two-thirds">
                    <p>${reading.pressure} hPa</p>
                    <p>Max: ${_station.maxPressure}</p>
                    <p>Min: ${_station.minPressure}</p>
                    <p class="is-invisible">U+0020</p>
                    <p class="is-invisible">U+0020</p>
                </div>
                <div class="column is-one-third">
                    <i class="fa-solid fa-gauge fa-3x"></i>
                </div>
            </div>
        </div>
    </div>
</div>
#{/list}
