#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}


<div class="columns is-mobile is-centered is-vcentered">
  <div class="column">
    <div class="box">
    <span class="title">About</span><br>
    <span class="subtitle">Read below for key information on the WeatherTop app.</span>
    <br>
    <br>
    <p>This is a companion app for your WeatherTop 1000 modular weather station. With key analytics, statistics
      and more available here online for all your chosen weather stations, this is an essential tool for all your
      weather watching needs. </p>
    <br>
    <p><b>Some of  the key features of this app include:</b></p>
    <ol>
      <li>Display of weather conditions from code input</li>
      <li>Wind Direction, Beauforts, and wind chill factor outputs</li>
      <li>Minimum and maximum temperatures, windspeeds, and pressure readings for each station</li>
      <li>Add and delete any number of stations or readings</li>
      <li>Edit your account details</li>
    </ol>
  </div>
  </div>
  <div class="column">
    <img src="public/images/about.jpg" alt="">
  </div>
</div>