#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<header class="title">
    <br>
    ${member.firstname} ${member.lastname}'s stations
</header>
#{list items:stations, as:'station'}
<div class="content box">
    <h1 class="title">
        ${station.name}
    </h1>
    #{latestReadings station:station /}
    <span class="icon">
      <a href="/stations/${station.id}">
  <i class="fas fa-folder">
      </i>
      </a>
    </span>

    <a href="/dashboard/${member.id}/deletestation/${station.id}">
        <span class="icon has-text-danger">
<i class="fas fa-trash">
    </i>
</span>
    </a>
</div>
#{/list}
#{addstation /}