#{extends 'main.html' /}
#{set title:'Welcome' /}

#{welcomemenu id:"start"/}

<div class="content box">
    <p class="title is-1">
        Welcome to the WeatherTop app!
    </p>
    <br>
    <p class="subtitle is-3">
        Your online companion for the WeatherTop 1000 tool.
    </p>
    <h4>
        To get started, please log in or create a new account via the links above.
    </h4>
    <div class="columns is-centered">
        <div class="column">
            <img src="public/images/sunflowers.jpg" alt="">
        </div>
    </div>
</div>
