#{extends 'main.html' /}
#{set title:'Update details' /}
#{menu id:"update"/}

<section class="content box">
  <div class="columns">
    <div class="column is-half">
      <form action="/updateDetails/${memberId}" method="POST">
        <h3 class="subtitle">Update Account Details</h3>
        <div class="field is-horizontal field-body">
          <div class="field">
            <label class="label">First Name</label>
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="Brick" name="firstname">
            </p>
          </div>
          <div class="field">
            <label class="label">Last Name</label>
            <p class="control">
              <input class="input" type="text" placeholder="Tambland" name="lastname">
            </p>
          </div>
        </div>
        <fieldset disabled>
        <div class="field">
          <label class="label">Email</label>
          <p class="control has-icons-left">
            <input class="input" type="email" placeholder="User email cannot be changed" name="email">
            <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
        </div>
        </fieldset>
        <div class="field">
          <label class="label">Password</label>
          <p class="control has-icons-left">
            <input class="input" type="password" name="password">
            <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
            </span>
        </div>
        <button class="button is-link is-info">Confirm update</button>
      </form>
    </div>
    <div class="column is-half">
      <figure class="image is-square">
        <img src="public/images/about.jpg">
      </figure>
    </div>
  </div>
</section>
